<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233874390433-s8l1hao5cs2a7u014bh7hocef1bof41f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233874390433-s8l1hao5cs2a7u014bh7hocef1bof41f</string>
	<key>API_KEY</key>
	<string>AIzaSyCv-1X8anUBcEgul8xmTHe1AZ3EWLxkFp8</string>
	<key>GCM_SENDER_ID</key>
	<string>233874390433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatGroup</string>
	<key>PROJECT_ID</key>
	<string>chat-group-b3ff5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-group-b3ff5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233874390433:ios:b8a2e4f1e28453e1731fe0</string>
</dict>
</plist>